@font-face {
  font-family: AnonymousPro;
  src: url("AnonymousPro-Regular.ttf");
}

@font-face {
  font-family: AnonymousPro;
  src: url("AnonymousPro-Bold.ttf");
  font-weight: 700;
}

main {
  padding-top: 2rem;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  filter: grayscale(0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.package {
  width: 80%;
  margin: 1rem 0;
  border: 4px solid var(--dark-green);
  border-left: none;
  position: relative;
  overflow: hidden;
}

.package:hover,
.package:active {
  border-color: #ff5454;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: push-up 1000ms ease-out forwards;
}

.package__link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: white;
  background: #ff5454;
  transform: rotate(45deg) translate(3.5rem, -1rem);
  width: 12rem;
  text-align: center;
}

.package__sub-title {
  color: #979797;
}

.package__description {
  padding: 1rem;
  color: var(--dark-green);
  background: white;
  border: 1px solid var(--dark-green);
  font-size: 1.2rem;
}

.clear-fix {
  clear: both;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-left: 4px solid var(--dark-green);
  border-right: none;
}

#free:hover,
#free:active {
  border-left-color: var(--highlight-color);
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__sub-title {
  color: #bbb;
}

@media (min-width: 85rem) {
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 85rem;
  }

  .package {
    border-left: 4px solid var(--dark-green);
  }

  #free {
    border-right: 4px solid var(--dark-green);
  }

  #free:hover,
  #free:active {
    border-right-color: var(--highlight-color);
  }
}

@keyframes push-up {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-1.5rem);
  }

  100% {
    transform: translateY(-1rem);
  }
}
