.container {
  margin: 20px;
  display: grid;
  /* grid-template-columns: 200px 150px 20% 1fr; */
  grid-template-columns: [hd-start] repeat(4, [col-start] 20% [col-end]) [hd-end];
  grid-template-rows:
    [hd-start] 5rem [hd row-2-start] minmax(10px, 20rem)
    [row-2-end];
  grid-template-areas:
    "header header header header"
    "side . main main"
    "footer footer footer footer";
  grid-gap: 10px;
  height: 800px;
  width: 800px;
  justify-content: center;
  align-content: center;
}

.el1 {
  background: rgba(255, 154, 72, 0.5);
  grid-area: side;
  grid-column: col-start 2 / col-end 2;
}

.el2 {
  background: rgba(255, 0, 0, 0.5);
  /* grid-column: 1 / -1;
  grid-row-start: row-2-start; */
  grid-area: main;
}

.el3 {
  background: rgba(0, 128, 0, 0.5);
  /* grid-area: row-1-start / 2 / row-2-end / span 3; */
  /* grid-area: header; */
  grid-area: hd;
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
  grid-area: footer;
}
